*{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
:root{
  --dark: #333;
  --light: #fff;
  --primary: #ddd;
  --shadow:0 1px 5px rgba(104,104,104,0.8);
}

body{
  background: #ccc;
  margin: 10px 20px;
}
.btn{
  background: var(--dark);
  color: var(--light);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: none;
  outline: none;
}
.wrapper{
  display:grid;
  grid-gap: 20px;
}
.main-nav ul{
  display: grid;
  grid-gap: 20px;
  padding: 0;
  grid-template-columns: repeat(4,1fr);
  list-style:none;
}
.main-nav a{
  background: var(--primary);
  box-shadow: var(--shadow);
  padding: 0.5rem;
  color:var(--dark);
  font-size: 1.1rem;
  display: block;
  text-align: center;
  text-decoration: none;
}
.main-nav a:hover{
  background: var(--dark);
  color:var(--light);
  }
/*Top conatiner  */
.top-container{
  display: grid;
  grid-gap:20px;
  grid-template-areas:
    'showcase showcase top-box-a'
    'showcase showcase top-box-b';
}
.showcase{
  grid-area: showcase;
  min-height:400px;
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../image/showcase.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: var(--shadow);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.showcase h1{
  font-size: 4rem;
  color: var(--light);
}
.showcase p{
  font-size: 1.3rem;
  margin-top: 0;
  color: var(--light);
}
.top-box{
  background: var(--primary);
  padding: 1.5rem;
  align-items: center;
  text-align: center;
  justify-items:center;
  box-shadow: var(--shadow);
}
.top-box h3{
  font-size: 1.5rem;
}
.top-box-a{
  grid-area: top-box-a;
}
.top-box-b{
  grid-area: top-box-b;
}
/*-------------------Boxes--------------------------*/
.boxes{
 display: grid; 
 grid-gap: 20px;
 grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
}
.box{
  text-align: center;
  background: var(--primary);
  box-shadow: var(--shadow);
  padding: 1.5rem 2rem;
}
.box img{
  max-width: 50px;
  margin-bottom: 10px;
}
/*-------Info-----*/
.info{
  display: grid;
  padding: 3rem;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  background: var(--primary);
  box-shadow: var(--shadow);
}
.info img{
  min-width: 100%;
 width: 150px;
}
/*-------------Portfolio-------------------*/
.portfolio{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
.portfolio img{
  width: 200px;
  height: 250px;
  box-shadow: var(--shadow);
}
/*---------------Footer-------------------*/
.footer{
  text-align: center;
  background: var(--dark);
}
.footer p{
  font-size: 12px;
  letter-spacing: 1px;
  color: var(--light);
}
